# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Logs
*.log

# Environment variables
.env

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db